{% extends 'base.html' %}
{% block title %}Apartments{% endblock %}
{% block header %}
{{ super() }}
<div class="form row mui--text-left mui-container">
    {% for error in form.errors %}
    <div style="color: red;">[{{ error }}]</div>
    {% endfor %}
    <form action="" method="post" name="apartment_search" class="mui-form">
        <legend id="specify_search">Recherche spécifique</legend>
        <div id="hidden_form_part">
            {{ form.hidden_tag() }}
            <div class="mui-textfield mui-textfield--float-label">
                {{ form.max_price }}
                <label>Maximum price</label>
            </div>
            {{ form.furnished }} meublé {{ form.pets_allowed }} animaux accepté<br/>
            <div class="mui-select">
                {{ form.apartment_size }}
                <label> Type d'appartement</label>
            </div>
            <div class="mui-select">
                {{ form.line }}
                <label>Ligne de métro</label>
            </div>

            <div class="mui-textfield mui-textfield--float-label">
                {{ form.max_walktime(class_="mui-textfield") }}
                <label>Maximum walk time to station (in minutes)</label>
            </div>
            <input type="submit" value="Search" class="mui-btn mui-btn--raised">
        </div>
    </form>
</div>
{% endblock %}
{% block content %}

<div class="row">
    <h1>Apartements</h1>
</div>
<div class="row">
    {% for ad in ads %}

    <div class="card col-md-4 col-sm-8 col-xs-12">
        <div class="image">
            {% if ad.image %}
            <img src="{{ ad.image[0].src }}" width="100%">
            {% endif %}
        </div>
        <div class="text">
            <a href="{{ url_for('apartment', id=ad.id)}}"><div class="fab">&#43;</div></a>

            <h3>Appartement {{ ad.size }} {% if ad.furnished %}meublé{% else %}non-meublé{% endif %}</h3>
            <p class="mui--text-left">
                <b>Date d'ajout: </b> {{ ad.creation_date }}<br/>
                <b>Prix: </b> {% if ad.price %}{{ '%0.2f' | format(ad.price) }}${% else %}sur demande{% endif %}<br/>
                <b>Adresse: </b> {{ ad.address }}<br/>
                <b>Salle de bain: </b> {{ ad.bathroom }}<br/>
                <b>Animaux: </b> {% if  ad.pets %}autorisés{% else %}non-autorisé{% endif %}<br/>
                {% if ad.nearby_stations %}
                <b>Près des stations:</b>
            <ul class="mui--text-left">
                {% for station in ad.nearby_stations %}
                <li>{% if station.walk_time %}{{ (station.walk_time/60) | int }} min. de {% endif %}{{ station.station.name }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </p>
        </div>
    </div>
    {% if loop.index % 4 == 0 %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
</div>


<select onchange="location = this.value;">
    {% for page in range(1, number_of_pages) %}
    <option value="{{ url_for('apartments', page_number=page) }}"  {% if page == page_number %}selected{% endif %}>{{ page }}</option>
    {% endfor %}
</select>
{% endblock %}
