{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet" type="text/css"/>
<script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>
{% endblock %}
{% block title %}Apartments{% endblock %}
{% block content %}
<div class="row">
    <h1>Appartement {{ ad.size }} {% if ad.furnished %}meublé{% else %}non-meublé{% endif %}</h1>
</div>
<div class="row apartment">
    <div class="mui-col-md-6">
        {% for image in ad.image %}
        <a href="{{ image.src }}" data-lightbox="apartment"><img alt="image de l'appartement" src="{{ image.src }}" width="100%"></a>
        {% endfor %}
    </div>
    <div class="mui-col-md-6">
        <div class="text">
            <p class="mui--text-left">
                <b>Date d'ajout: </b> {{ ad.creation_date }}<br/>
                <b>Prix: </b> {% if ad.price %}{{ '%0.2f' | format(ad.price) }}${% else %}sur demande{% endif %}<br/>
                <b>Adresse: </b> {{ ad.address }}<br/>
                <b>Salle de bain: </b> {{ ad.bathroom }}<br/>
                <b>Animaux: </b> {% if  ad.pets %}autorisés{% else %}non-autorisé{% endif %}<br/>
                {% if ad.nearby_stations %}
                <b>Près des stations:</b>
            <ul class="mui--text-left">
                {% for station in ad.nearby_stations %}
                <li>{% if station.walk_time %}{{ (station.walk_time/60) | int }} min. de {% endif %}{{ station.station.name }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </p>
            <p>
                <b>Description:</b><br/>
                {{ ad.description }}
            </p>
        </div>
    </div>
</div>
</div>
{% endblock %}
