<!doctype html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/mui.min.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ url_for('static', filename='js/mui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<header>{% block header %}
    <nav class="mui-appbar">
     <table width="100%">
        <tr class="mui--appbar-height">
            <td class="mui--text-title">AS</td>
            <td align="right">
                <ul class="mui-list--inline mui--text-body2">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </td>
        </tr>
    </table>
    </nav>
    {% endblock %}</header>
<section id="content" class="mui--text-center mui--container-fluid">{% block content %}{% endblock %}</section>
<footer class="mui--text-center">{% block footer %} Created by Marie-Pier Lessard{% endblock %}</footer>
</body>
</html>
