{% extends 'base.html' %}
{% block title %}Apartments{% endblock %}
{% block content %}
<h1>Welcome</h1>
<p>this is the home page</p>
<p><a href="{{ url_for('apartments') }}">All apartments</a></p>
{% endblock %}
